<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>

<!-- Amazon SNS code -->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.187.0.min.js"></script>
<!-- Initialize the Amazon Cognito credentials provider -->
<script>
  AWS.config.region = 'us-west-2';
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
  IdentityPoolId: 'us-west-2:8a6f0fba-dd25-4612-a42b-b687bcfe1cfd',
  });
  var sns = new AWS.SNS();

</script>
<!-- Contact US JS -->
<script>
  $( "#contactly" ).submit(function( event ) {
  var params = { TargetArn:'arn:aws:sns:us-west-2:801547970177:contact_us'
  };
  params['Message'] = $("#contactly").serialize();
  params['Subject'] = $("#contactly").find('input[name="_subject"]').val();
  sns.publish(params, function(err,data) {
  if (err) {console.log('Error sending a message', err);
  } else { console.log('Sent message:', data.MessageId);}
  });
  $("#contactly").css('visibility','hidden');
  event.preventDefault();
});
</script>
<!-- Main JS -->
<script src="js/main.js"></script>

